{% extends 'base.html' %}

{% load static %}

{% block title %} | Project Description{% endblock title %}

{% block content %}
{#    <header class="w-full mt-10 px-6 md:px-12">#}
{#        <div class="max-w-7xl mx-auto flex justify-between items-center">#}
{#            <a href="{% url 'pages:home' %}"><span class="sr-only">Home</span>#}
{#                <img src="{% static 'images/cdt-logo-512x512.png' %}" class="h-10 w-10 md:h-14 md:w-14" alt="Cory{dot}tech Logo" >#}
{#            </a>#}
{#            <nav class="flex justify-end items-center gap-6 md:gap-8 font-mono text-sky-300">#}
{#                <a href="https://www.linkedin.com/in/cory-coward/" target="_blank"><span class="sr-only">LinkedIn Link</span>#}
{#                    <img src="{% static 'images/linkedin_icon.svg' %}" alt="LinkedIn Icon" class="h-5 w-5">#}
{#                </a>#}
{#                <a href="https://github.com/CategoryCory" target="_blank"><span class="sr-only">GitHub Link</span>#}
{#                    <img src="{% static 'images/github_icon.svg' %}" alt="GitHub Icon" class="h-6 w-6">#}
{#                </a>#}
{#            </nav>#}
{#        </div>#}
{#    </header>#}
{#    <main class="relative max-w-2xl lg:max-w-3xl mx-auto px-4 lg:px-0 flex-grow">#}
        <div class="my-10 pt-8 pb-6 px-5 bg-slate-900 double-border">
            <h2 class="inline-block banner pt-5 pb-3 text-3xl md:text-5xl text-left tracking-tight">{{ project.name }}</h2>
            <p class="text-mono text-lg md:text-2xl text-sky-400">
                {{ project.get_status_display }} &bull;
                {{ project.begin_date|date:"M Y" }} &ndash; {% if project.end_date %}{{ project.end_date|date:"M Y" }}{% else %}Present{% endif %}
            </p>
        </div>
        <div class="flex justify-start items-center flex-wrap gap-3">
            {% for skill in project.skills_used.all %}
                <p class="font-mono skill-tag">{{ skill }}</p>
            {% endfor %}
        </div>
        {% if project.github_url %}
            <div class="mt-6">
                <a href="{{ project.github_url }}" class="font-mono text-sky-300 hover:underline" target="_blank">
                    {{ project.name }} on GitHub &rarr;
                </a>
            </div>
        {% endif %}
        <div class="mt-10 prose prose-sky max-w-none">
            {{ project.description|safe }}
        </div>
{#    </main>#}
{% endblock content %}