{% extends 'base.html' %}

{% load static %}

{% block title %} | Project Description{% endblock title %}

{% block content %}
    <div class="my-10 pt-8 pb-6 px-5 double-border">
        <h2 class="inline-block banner pt-5 pb-3 text-3xl md:text-5xl text-left tracking-tight">{{ project.name }}</h2>
        <p class="text-mono text-lg md:text-2xl text-sky-400">
            {{ project.get_status_display }} &bull;
            {{ project.begin_date|date:"M Y" }} &ndash; {% if project.end_date %}{{ project.end_date|date:"M Y" }}{% else %}Present{% endif %}
        </p>
    </div>
    <div class="flex justify-start items-center flex-wrap gap-3">
        {% for skill in project.skills_used.all %}
            <p class="font-mono skill-tag">{{ skill }}</p>
        {% endfor %}
    </div>
    {% if project.github_url %}
        <div class="mt-6">
            <a href="{{ project.github_url }}" class="font-mono text-sky-300 hover:underline" target="_blank">
                {{ project.name }} on GitHub &rarr;
            </a>
        </div>
    {% endif %}
    <div class="mt-10 prose prose-sky max-w-none">
        {{ project.description|safe }}
    </div>
{% endblock content %}