{% extends 'base.html' %}

{% block content %}
    <main class="relative max-w-2xl lg:max-w-3xl mx-auto px-4 lg:px-0">
        <div class="mt-20 pt-8 px-5 bg-slate-900 double-border">
            <p class="text-mono text-cyan-300">Welcome to my website! My name is</p>
            <h2 class="inline-block banner pt-5 pb-3 tracking-tight">Cory Coward</h2>
            <p class="section-header">Backend &amp; embedded software engineer</p>
        </div>
        <div class="mt-16">
            <h2 class="section-header section-header-line">Work Experience</h2>
            {% for job in jobs %}
                <div class="job-card space-y-2">
                    <h3 class="text-slate-200">
                        <span class="text-lg text-cyan-300 font-extrabold">{{ job.title }}</span> @ {{ job.company }}
                    </h3>
                    <p>{{ job.start_date|date:'F Y' }} &ndash; {% if job.end_date %}{{ job.end_date|date:'F Y' }}{% else %}Present{% endif %}</p>
                    {{ job.description|safe }}
                    {% if job.skills_used %}
                        <div class="flex justify-start items-center flex-wrap gap-3">
                            {% for job_skill in job.skills_used.all %}
                                <p class="skill-tag">
                                    {{ job_skill }}
                                </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="mt-16">
            <h2 class="section-header section-header-line">My Projects</h2>
            {% for project in projects %}
                <div class="project-card grid grid-cols-1 md:grid-cols-4 gap-3">
                    <div class="col-span-1 text-slate-200 hidden md:block">{{ project.get_status_display }}</div>
                    <div class="col-span-3 space-y-2">
                        <h4 class="text-lg text-cyan-300 font-extrabold">{{ project.name }}</h4>
                        <p class="md:hidden">{{ project.get_status_display }}</p>
                        <p>{{ project.summary }}</p>
                        <div class="flex justify-start items-center flex-wrap gap-3">
                            {% for project_skill in project.skills_used.all %}
                                <p class="skill-tag">{{ project_skill }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mt-16">
            <h2 class="section-header section-header-line">About Me</h2>
            <div class="px-10 prose max-w-none text-slate-400">
                <p>
                    I'm passionate about making a difference by building and fixing things. My specialty is
                    backend and embedded software engineering, but my experience also includes other engineering
                    disciplines like DSP and antenna design.
                </p>
                <p>
                    My greatest enjoyment comes from working in that area where software meets hardware, writing optimized
                    code that's blazingly fast and rock-solid.
                </p>
                <p>
                    When I'm not at the computer or tinkering at the breadboard, you can often find me playing piano,
                    reading, or watching Seinfeld for the 87th time.
                </p>
            </div>
        </div>
    </main>
{% endblock content %}