@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth !important;
        --scroll-behavior: smooth !important;
    }

    body {
        font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        @apply text-slate-400 selection:bg-sky-300 selection:text-sky-950;
    }

    .text-mono {
        font-family: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    .banner {
        font-family: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        @apply text-5xl md:text-7xl text-center text-transparent tracking-wide font-black bg-clip-text bg-gradient-to-r from-[#6366F1] via-[#B74FFB] via-[#FA43F9] to-[#FF911A];
    }

    .double-border {
        @apply relative border-4 border-sky-500 after:absolute after:top-0 after:left-0 after:-ml-3.5 after:mt-3.5 after:w-full
            after:h-full after:border-2 after:border-sky-700 after:-z-10;
    }

    .section-header {
        @apply relative flex w-full justify-start items-center mb-6 text-xl md:text-2xl tracking-tight text-mono text-slate-200;
    }

    .section-header-line::after {
        content: "";
        border-top: 2px solid;
        margin: 0 0 0 20px;
        flex: 1 0 20px;
        color: #0EA5E9;
    }

    .job-card,
    .project-card {
        @apply my-4 px-10 py-4 hover:bg-slate-800 hover:shadow-lg transition duration-100;
    }

    .job-card ul {
        @apply ml-4 list-disc list-outside space-y-1.5 marker:text-sky-500;
    }

    .skill-tag {
        @apply px-3 py-1 inline-block text-sm text-sky-400 border border-sky-400;
    }
}