{% load static tailwind_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:wght@100..800&display=swap" rel="stylesheet">
    <title>cory&#123;dot&#125;tech{% block title %}{% endblock title %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>
<body class="bg-slate-900 scroll-smooth">
    {% block content %}{% endblock content %}
    <footer class="pt-24 pb-14 px-6 flex flex-col justify-center items-center gap-4 text-mono text-sm text-sky-300">
        <p>&copy; {% now "Y" %} by Cory Coward</p>
        <p class="text-center leading-loose">
            Designed and built by yours truly using
            <a href="https://www.djangoproject.com/" class="font-bold underline" target="_blank">Django</a> and
            <a href="https://tailwindcss.com/" class="font-bold underline" target="_blank">Tailwind CSS</a>.
        </p>
        <div class="pt-4 flex items-center gap-5">
            <a href="https://www.linkedin.com/in/cory-coward/" target="_blank" class="h-7 w-7">
                <span class="sr-only">LinkedIn Link</span>
                <img src="{% static 'images/linkedin_icon.svg' %}" alt="LinkedIn Icon">
            </a>
            <a href="https://github.com/CategoryCory" target="_blank" class="h-7 w-7">
                <span class="sr-only">GitHub Link</span>
                <img src="{% static 'images/github_icon.svg' %}" alt="GitHub Icon">
            </a>
        </div>
    </footer>
</body>
{% block extra_scripts %}{% endblock extra_scripts %}
</html>