{% extends 'base.html' %}

{% block title %} | Contact{% endblock title %}

{% block content %}
    <div class="my-10 pt-8 pb-6 px-5 bg-slate-900 double-border">
        <h2 class="inline-block banner pt-5 pb-3 text-3xl md:text-5xl text-left tracking-tight">Get In Touch</h2>
    </div>
    <div class="">
        <p class="mb-6 px-8">
            Looking to build something awesome? I'd love to help! Fill out the form below and tell me a bit about
            your project, and let's chat about how I can help bring your ideas to life!
        </p>
        {% include 'partials/_alerts.html' %}
        <form
            id="contact-form"
            method="post"
            class="flex flex-col gap-4"
            novalidate
        >
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.name != "recaptcha" %}
                    <div class="flex flex-col space-y-1">
                        <label for="{{ field.id_for_label }}" class="font-mono text-sky-400">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="px-3 py-2 flex gap-2 bg-red-400 text-red-950">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="stroke-current flex-shrink-0 h-6 w-6"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                                        ></path>
                                    </svg>
                                    <span>{{ error }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if field.help_text %}
                            <p class="text-sm text-gray-500">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {{ form.recaptcha }}
            <button
                id="contact-form-submit-button"
                class="button button-primary flex justify-center items-center gap-4"
                type="submit"
            >
                <span class="inline-block">Submit</span>
            </button>
        </form>
    </div>
{% endblock content %}

{% block extra_scripts %}
    <script>
        const contactForm = document.getElementById("contact-form");
        const submitButton = document.getElementById("contact-form-submit-button");
        
        contactForm.addEventListener("submit", () => {
            submitButton.innerHTML = "<span class='loading loading-bars loading-md'></span><span class='inline-block'>Please wait...</span>";
            submitButton.classList.remove("button-primary");
            submitButton.classList.add("button-disabled");
            submitButton.disabled = true;
        });
    </script>
{% endblock extra_scripts %}